.col{
    height: 50px;
    background-color: #4d6ec7;
    margin:1%;
    border-radius: 5px;
    padding-top: 2.5%;
    font-weight: bold;
    color: #BAD7E9;
    cursor: pointer;
}

.result{
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 5%;
    color: #BAD7E9;
}
.numcol{
    background-color: #6f8bd8;
}
